<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <a [routerLink]="['/announcements']">Announcements</a>
    </li>
    <li class="breadcrumb-item active">Text</li>
  </ol>

  <div class="container">
    <div class="row">
      <!--    Flyer -->
      <div class="col-md-8">

        <form [formGroup]="textForm"
              (ngSubmit)="addAnnouncement(textForm.value)">

          <div class="form-group">
            <label>Titel</label>
            <input class="form-control" formControlName="title" id="title"/>
            <cr-show-error text="Titel" path="title"></cr-show-error>
          </div>
          <div class="form-group">
            <label>Beschreibung (max 120 Zeichen)</label>
            <textarea class="form-control" formControlName="content" id="content" rows="5"></textarea>
            <cr-show-error text="Beschreibung" path="content"></cr-show-error>
          </div>

          <mat-form-field>
            <input matInput [matDatepicker]="beginDatePacker" placeholder="Begin" formControlName="begin">
            <mat-datepicker-toggle matSuffix [for]="beginDatePacker"></mat-datepicker-toggle>
            <mat-datepicker #beginDatePacker></mat-datepicker>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" placeholder="Ende" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <div class="form-group">
            <label>Wiederholung<mat-hint><small> Periode für die Wiederholung in Minuten</small></mat-hint></label>
            <input class="form-control" formControlName="repetition" id="repetition"/>
            <cr-show-error text="Wiederholung" path="repetition"></cr-show-error>
          </div>

          <button type="submit"
                  class="btn btn-success"
                  [disabled]="!textForm.valid">Speichern
          </button>
        </form>


      </div>
    </div>
  </div>

</div>
