<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <a [routerLink]="['/announcements']">Announcements</a>
    </li>
    <li class="breadcrumb-item active">Text</li>
  </ol>

  <div class="container">
    <div class="row">
      <!--    Flyer -->
      <div class="col-md-8">
        <form [formGroup]="textForm">
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-left">
              <h1>Text</h1>
            </div>
            <!--Body-->
            <div class="modal-body">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" formControlName="title">
              </mat-form-field>
              <br/>
              <mat-form-field>
                <textarea matInput placeholder="Inhalt" formControlName="content" cols="60" rows="5"></textarea>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <input matInput [matDatepicker]="beginDatePicker" placeholder="Begin" formControlName="begin">
                <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #beginDatePicker></mat-datepicker>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <input matInput [matDatepicker]="endDatePicker" placeholder="Ende" formControlName="end">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
              <br/>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Wiederholungsrate" formControlName="rate">
              </mat-form-field>

            </div>

            <button class="btn-sm btn-success" (click)="addAnnouncement()">Anlegen</button>

          </div>


        </form>
      </div>
    </div>
  </div>

</div>
