<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav" style="padding: 10px">
    <li class="nav-item active">
      <div class="nav-link">
        <span id="sideBarDashboard" style="font-size: 25px">Dashboard</span>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <span>Announcements</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <span>Gebetszeiten</span></a>
    </li>
  </ul>

  <div id="content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
